.homeThreeColumns_main {
  display: grid;
  grid-template-columns:  163px 1fr 1fr 1fr 163px;
  grid-template-rows: 46px 1fr 86px;
  background: url("../../assets/3 Columns Background.png");
  width: 100%;
  height: 384px;
  justify-items: center;
  align-items: center;
}

.homeThreeColumns_cnt_1,.homeThreeColumns_cnt_2,.homeThreeColumns_cnt_3 {
  grid-row: 2/3;
  width: 334px;
  height: 252px;
  display: grid;
  grid-template-rows: 122px 10px 24px 28px 68px;
  grid-template-columns: 1fr;
}
.homeThreeColumns_cnt_1{
grid-column: 2/3;
}
.homeThreeColumns_cnt_2{
  grid-column: 3/4;
}
.homeThreeColumns_cnt_3{
  grid-column: 4/5;
}

.homeThreeColumns_nbr {
  grid-row: 1/2;
  font-weight: lighter;
  font-size: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $color2;
}

.homeThreeColumns_info {
  grid-row: 3/4;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: normal;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: -0.36px;
  color : $color5;
}

.homeThreeColumns_content {
  grid-row: 5/6;
  font-family: "Merriweather", serif;
  font-weight: lighter;
  text-align: center;
  letter-spacing: -0.32px;
  line-height: 1.8;
  display: flex;
  align-items: center;
  color: $color5;
}